h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li{
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgba(2, 21, 98, 0.8);
  font-weight: 600;

}

.link {
  text-decoration: none;
  color: rgba(2, 21, 98, 0.8);
  font-weight: 600;
}

.link:before {
  content: "- ";
 }

.hr {
  padding-top: 5px;
  border: 1px solid midnightblue;
}

.name {
  width: 200px;
}

.name thead{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

.name p{
  font-weight: 300;
}

.home {
  width: 500px;
  margin-bottom: 100px;
}

.home ul {
  margin: 5px 0 ;
}

.home p {
  margin: 5px 0 ;
}

table {
  border-collapse: collapse;
  border-spacing: 20px 20px;
}

td {
  width: 150px;
  padding: 20px 10px 10px 10px;
  color: rgba(2, 21, 98, 0.8);
  font-weight: 600;
}

th {
  text-align: left;
  color: rgba(2, 21, 98, 0.8);
  font-weight: 600;
  padding: 10px 10px;
}

table tr.first-row{
  border-bottom: 1px solid rgba(3, 26, 110, 0.8);
  color: rgba(2, 21, 98, 0.8);
  font-weight: 600;
}

table td.my_icon {
  width: auto;
}

input {
  color: rgba(2, 21, 98, 0.8);
  width: 100px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgba(6, 31, 115, 0.58);
}

input:focus {
  outline: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  border: 2px solid rgba(6, 31, 115, 0.58);
}

input::placeholder {
  color: rgba(2, 21, 98, 0.8);
}

select {
  border-radius: 6px;
  padding: 5px;
  color: rgba(2, 21, 98, 0.8);
  border: 1px solid rgba(6, 31, 115, 0.58);
}

select:focus {
  outline: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  border: 2px solid rgba(6, 31, 115, 0.58);
}

.navigation__list li {
  color: black;
  letter-spacing: 1px;
  transition: color 0.2s ease-in-out;
  padding: 5px;
}

.navigation__list .button:hover, .navigation__list .button.active  {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  padding: 5px;
}


.my_pagination {
  display: flex;
  padding: 0;
  list-style-type: none ;
}

#pagination {
  display: flex;
  padding: 0;
  list-style-type: none ;
}

#pagination li{
  color: rgba(2, 21, 98, 0.8);
  margin-right: 5px;
  padding: 10px;
}

#pagination li:hover, #pagination li.active{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  margin-right: 5px;
  padding: 10px;
}

.navigation__list button{
  border: white;
  background: white;
  color: rgba(2, 21, 98, 0.8);
  margin-right: 5px;
  padding: 10px;
}

.navigation__list .button:hover, .navigation__list .button:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  margin-right: 5px;
  padding: 10px;
}

.active  {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  margin-right: 5px;
  padding: 10px;
}

.pagination-container {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.pagination-container::after {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  clear: both;
}

.pagination-number, .pagination-button{
  border: none;
  background-color: transparent;
  /*color: rgba(2, 21, 98, 0.8);*/
  margin-right: 5px;
  padding: 10px;
}

.pagination-button:hover, .pagination-button.active, .pagination-number:hover, .pagination-number.active{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  margin-right: 5px;
  padding: 10px;
}

.pagination-number:hover, .pagination-button:not(.disabled):hover {
  background: #fff;
}